.btn {
    height: 40px;
    border: transparent;
    color: black;
    font-size: 14px;
    border-radius: 10px;
    background-color: rgb(208, 214, 219);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 10px 12px;
}

.btn:hover,
.btn:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 123, 255);
}